doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/mqttws31.js')
    script(src='/javascripts/angular.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src='/javascripts/app.js')
  body(ng-app='freeman')
    block content